@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


h1 {
    font-weight: bold;
    font-weight: 700;
}

label>p {
    color: #616161;

    padding-left: 0.25rem;

    margin-top: 1rem;
}

input::placeholder,
textarea::placeholder {
    color: #b9b7b7;

    font-size: 1rem;
}

body {
    line-height: 2rem;

    height: 100vh;

    display: grid;
    grid-template-areas:
        ". main ."
        ". footer .";
    grid-template-columns: 1fr auto 1fr;
    place-items: center;
    background-image: linear-gradient(to top right, #58BDE0, #CC3DF4);
}

main {
    grid-area: main;

    background-color: #FFF;
    padding: 3rem;
    border-radius: 1rem;

    margin-top: 3rem;
}

main header {
    text-align: center;

    margin-bottom: 1rem;
}

fieldset {
    border: none;
}

input,
select,
textarea {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1.5px solid #c2c1c3;
}

input,
select,
textarea {
    outline: none;

    font-size: 1rem;

    width: 100%;
    padding: 0.5rem 0.25rem;
}

select {
    font-weight: 600;
    appearance: none;
    background-color: transparent;

    cursor: inherit;
}

.select {
    width: 100%;
    background-image: linear-gradient(to top, #f9f9f9, #FFF 33%);

    cursor: pointer;

    display: grid;
    grid-template-areas: "select";
    align-items: center;
}

.select::after {
    content: "";
    width: 0.8rem;
    height: 0.5rem;
    background-color: #616161;
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
    justify-self: end;
}

select,
.select:after {
    grid-area: select;
}

button {
    width: 100%;

    color: #FFF;

    padding: 0.8rem;
    margin-top: 2rem;

    border: none;
    border-radius: 5rem;

    background-image: linear-gradient(to right, #E43CF6, #61D6DA);
}

button p,
footer p {
    font-weight: 600;
}

footer {
    grid-area: footer;

    margin: 1rem;
}

fieldset:invalid~fieldset {
    display: none;
}

button:hover {
    background-image: linear-gradient(to right, #e266f0, #5bcdd1);
}

form:invalid button {
    opacity: 0.6;
    pointer-events: none;
}

input:required,
select:required {
    border-width: 3px;
}

input:invalid,
select:invalid {
    border-radius: 0.5rem;
    background-color: #ffdddd;
}

input:valid {
    background-color: #ddffdd;
}